
@media screen and (max-width: 1585px) {
/* header add section  */
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .col-3 {
    width: 100%;
  }
  .search-section {
    justify-content: center;
  }
   .col-9 {
    width: 100%;
    /* margin-top: 20px; */
  }
  .ultimate-section-content {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
  }

/* fourth section */
  .banner4-wrapper {
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
   .section4-right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .section4-right > img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    position: absolute;
    /* right: -100%; */
    transform: translateX(150%);
    max-width: 480px;
    min-height: 500px;
    /* transition: right 0.6s ease; */
    /* transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1); */
    top: 0px;
    /* opacity: 0; */
  }
  .banner4 {
    padding-top: 0px;
    /* overflow: hidden; */
  }

  /* fifth section */
   .section5-line {
    max-width: 1288px;
    position: absolute;
    bottom: -43px;
    left: 0px;
  }
}

@media screen and (max-width: 1465px) {
  /* header add section  */
  .categories {
    gap: 10px;
  }
  .main-content {
    padding: 15px 0px;
  }
  
  /* fifth section  */
  .section5{
    margin-top: 50px;
  }
}

@media screen and (max-width: 1200px) {
  
  /* fifth section */
  
  .circle-img {
    width: 200px;
    height: 200px;
  }
  .circle-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and ( max-width : 1235px ) {
 
  /* footer section  */
 
  .col-35{
    width: 50%;
  }
  .col-15{
    width: 47%;
  }
  .col-25{
    width: 50%;
  }
  .footer-content {
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 20px;
    /* padding-top: 20px; */
  }  
}

@media screen and (max-width: 1137px) {
  /* .search-container{
    display: none;
  } */
}
















@media screen and (max-width: 1024px) {
  /* About Section */
  .bl {
    right: 60px;
    bottom: 2px;
  }
  .br {
    bottom: 147px;
    right: -1px;
  }
  .profiles {
    border-radius: 30px 0 0 0;
    height: 148px; /*130px*/
    width: 60px; /*60px*/
  }
  .profiles > ul {
    height: 100%;
    width: 100%;
    padding: 0 3px;
    border-radius: 30px;
  }
  .profiles > ul > li {
    height: calc(135px / 3);
  }
  .profile-link {
    height: unset;
  }
  .profile-link > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

@media screen and (max-width: 900px) {
  /* Section Filler */
  .card {
    height: 450px !important;
    width: 330px !important;
  }
  .ami-para {
    margin: 25px auto;
  }
  .card:hover > .txt-over-img {
    font-size: 42px !important;
  }
}

@media screen and ( max-width : 880px ) {
  
  /* footer section  */
  
  .footer-online>a>img{
   width:40px ;
   height:40px ;
  
 }
 .col-35 {
      width: 100%;
    }
 .col-15{
    width: 100%;
  }
  .col-25{
    width: 100%;
  }
  .footer-content {
    gap: 20px;
  }  
}

@media screen and (max-width: 769px) {
  /* fourth section */
  .section4-lwr-left {
    margin-top: 0px;
  }
  .banner3-content {
    
    margin-top: 20px;
  }
  .footer {
   
    
    margin-top: 45px;
  }
}


@media screen and (max-width: 768px) {
  .col-6 {
    width: 100%;
  }
  p {
    font-size: 12px;
  }
  .title3 {
    font-size: 25px;
  }
  .title5 {
    font-size: 18px;
  }

  /* Banner Section */

  .lb-cnt,
  .rb-cnt {
    top: 50%;
    bottom: unset !important;
    transform: translateY(-50%);
    max-width: 150px;
  }
  .lb-cnt > a,
  .rb-cnt > a {
    width: 30px;
  }
  .lb-heading + div,
  .rb-heading + div {
    font-size: 9px;
  }
  .lb-cnt > .row,
  .rb-cnt > .row {
    font-size: 10px;
  }
  .lb-cnt > .row > div.col-50 > div:first-child,
  .rb-cnt > .row > div.col-50 > div:first-child {
    font-size: 14px;
  }

  .search-container {
    width: 94%;
  }

  /* About Section */
  .about-section {
    padding: 0px 0;
  }
  .about-section > .container > .row {
    flex-direction: column-reverse;
  }
  .about-img {
    max-width: 324px;
    margin: 25px auto;
  }

  .txt-over-img>p{
    font-size: 30px;
  }
}

@media screen and (max-width: 720px) {
  /* Section Filler */
  
  /* .swiper-slide{
      display: flex;
      justify-content: center;
      align-items: center;
    } */
  .ami-card {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 590px) {
  /* header add section  */
  .categories {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
 
  .nav-logo > a {
    width: 45px;
  }
  .navbar-brand {
    transform: scale(0.5);
  }
}

@media screen and (max-width: 500px) {
  /* header add section  */
  .search-input {
    font-size: 16px;
  }
  .search-section > img {
    width: 30px;
    height: 30px;
  }
  .category-btn > span {
    font-size: 16px;
  }
}

@media screen and (max-width: 426px) {
 
  /* banner section   */
 
  .bnr-section {
   min-height: 750px;
  }
 
 .search-container {
        width: 89%;
    }
 
  /* Section Filler */
  .ami-card {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner3-content > h3 {
    font-size: 55px;
  }
  .banner3-content > h2 {
    font-size: 63px;
  }
  .banner3-content > p {
    font-size: 17px;
    margin-top: 15px;
  }
  .button-container {
 
  margin-top: 30px;
 }


 .card {
        height: 400px !important;
        width: 320px !important;
    }

/* fourth section */
 .section4-right > img {
    min-height: 440px;
  }
  .upr-left-text > p {
    font-size: 38px;
  }
  .section4-upr-left {
    gap: 35px;
    /* align-items: center; */
    padding-top: 15px;
  }
  .Frame-15 {
    width: 130px;
    height: 100px;
  }

  /* fifth section */
   .clip-btn1 {
    max-width: 150px;
    min-height: 50px;
  }
  .clip-btn2 {
    max-width: 200px;
    min-height: 50px;
  }
  .clip-btn3 {
    max-width: 150px;
    min-height: 50px;
  }
  .section5-line {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .section5-logo > h3 {
    font-size: 45px;
  }
  .section5-logo2 > h2 {
    font-size: 57px;
  }

  /* footer section  */

   .footer-content1 >p{
    font-size: 18px;
    

  }
 
    .footer-logo>img{
    width: 100px;
    height: 50px;
  }
  .footer-online{
   width:30px ;
   height:30px ;
  
 }
 .search-box > img {
    position: absolute;
    right: 6px;
    top: 12px;
    width: 40px;
    height: 40px;
 }
 .footer-logo2 {
    max-width: 26px;
    min-height: 26px;
    width: 100%;
 }
 .footer-content {
    padding-top: 20px;
 }
 .footer2a {
    margin-top: 20px;
    
 }
 .footer-content4 {

    gap: 15px;
 }
 .col-40 {
        width: 100%; 
        height: 200px !important;
    }
.footer-content1 {
   
    gap: 25px;
 }
 .footer-links {
    margin-top: 25px;
    
}
    .footer>div>div {
        gap: 25px;
    }
}

@media screen and (max-width: 410px) {
 /* fifth section */
 
  .circle-img {
    width: 150px;
    height: 150px;
  }
  .circle-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 376px) {
  /* fourth section */
  .upr-left-text > p {
    font-size: 30px;
  }
  .bnr-section {
        min-height: 680px;
    }
}

@media screen and (max-width: 375px) {
  /* Section Filler */
  .card {
    height: 370px !important;
    width: 288px !important;
  }

}

@media screen and ( max-width : 350px ) {
  
  /* footer section  */
  
  .footer-online{
   width:26px ;
   height:30px ;
  
 }
 .bnr-section {
        min-height: 630px;
    }
    .head-para{
      font-size: 10px;
    }
}